
html, body {
	height: 100%;
}


h3, ul, body {
	margin: 0;
	padding: 0;
}

a {
   cursor: pointer;
   text-decoration: none;
}

ol, ul {
    list-style: none outside none;
}

.header{
    background-color: #195695;
}


.header a {
    color: #FFFFFF;
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0px 2px 15px;
}

.main-content {
    margin: 0 auto;
    width: 1000px;
}

.title-content {
    margin: 0 auto;
    margin-top: 15px;
	border-bottom: 1px solid #80A1C1;
    width: 1000px;
    color: #9E98A3;
    font-weight: bold;
    font-size: 18px;
}

.title-content a{
    color: #9E98A3;
    font-weight: bold;
    font-size: 22px;
}



.item{
	border-bottom: 1px solid #CCDCEF;
    padding: 10px 0;
}

.item-title a {
    color: #2854BB;
    font-weight: bold;
}

.item-information{
	margin-top: 5px;
	color: #999999;
}

.item-information li{
	float: left;
    margin-right: 15px;
}


.menu{
	top: 150px;
	position: fixed;
	left: 0px;
    z-index:9999;
}


.menu li {
    width: 100px;
}


.menu li a {
    display: block;
	margin-left: -75px;
    width: 100px;
    padding: 25px 2px 25px 7px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #AFAFAF;
	-moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
     opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}


.kanban{
	margin-top: 10px;
}


.kanban .story{
	margin: 10px;
	border: 1px solid blue;
	float: left;
	padding: 10px;
	height: 40px;
	width: 40px;
	font-size: 10px;
}
